.container {
  flex: 1;
  min-height: 12.5rem;
  position: relative;
  z-index: 1;
}
.map {
  height: 100%;
  width: 100%;
}
:global(.cover-tooltip) {
  padding: 4px !important;
  border-radius: 6px !important;
}
